* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  color: rgb(51, 51, 51);
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
}

a {
  text-decoration: none;
  color: rgb(126, 192, 247);
}
a:hover {
  transition: 0.6s;
  color: rgb(71, 168, 248);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper header {
  padding: 10px;
  background: rgb(209, 244, 252);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper header a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px !important;
}
.wrapper header a img {
  width: 50px;
}
.wrapper header form button img {
  width: 50px;
}
.wrapper header form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
.wrapper header .logo {
  width: 65px !important;
}
.wrapper__content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrapper__content aside {
  width: 15%;
  background: rgb(240, 253, 255);
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.wrapper__content aside a {
  font-size: 25px;
}
.wrapper__content main {
  width: 85%;
  padding: 10px;
}
.wrapper__content main h1 {
  font-size: 35px;
}
.wrapper__content main .list {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper__content main .list li {
  margin-top: 30px;
}
.wrapper__content main .list .post {
  width: 80%;
  border-bottom: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrapper__content main .list .post a {
  font-size: 20px;
}
.wrapper__content main .list .post img {
  width: 100%;
}
.wrapper__content main .list .todo {
  width: 70%;
  border-bottom: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.wrapper__content main .list .todo h2 {
  align-self: flex-start;
}
.wrapper__content main .list .todo p {
  font-size: 20px;
  line-height: 40px;
}
.wrapper__content main .list .todo img {
  width: 50% !important;
}
.wrapper__content main .fullpost {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper__content main .fullpost h1 {
  align-self: flex-start;
}
.wrapper__content main .fullpost p {
  font-size: 20px;
  line-height: 40px;
  margin-top: 20px;
  width: 90%;
}
.wrapper__content main .fullpost button {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 20px;
}
.wrapper__content main .fullpost img {
  width: 90%;
}
.forms {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
form input {
  margin-top: 20px;
}
form button {
  margin-top: 20px;
}

.switch {
  font-size: 15px;
  margin-top: 10px;
}

.field-main {
  padding: 10px 15px 10px 15px;
  width: 300px;
  border: 1px solid rgb(185, 223, 255);
  border-radius: 5px;
}

.textarea {
  margin-top: 20px;
  height: 300px;
}

.button-main {
  padding: 10px 15px 10px 15px;
  width: 250px;
  border: none;
  background: rgb(185, 223, 255);
  border-radius: 5px;
}

.triz-info {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.triz-info img {
  width: 50%;
  margin-top: 20px;
}
.triz-info h2 {
  font-weight: 800;
  font-size: 35px;
  align-self: flex-start;
}
.triz-info p {
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
}
.triz-info ul {
  font-size: 30px;
  line-height: 40px;
  margin-top: 20px;
}
.triz-info ul li {
  list-style: circle;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
table tr {
  display: flex;
  flex-direction: row;
}
table tr td {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(228, 228, 228);
  font-size: 15px;
  padding: 10px;
  margin-top: 5px;
}
table tr td strong {
  font-size: 20px;
  align-self: flex-start;
  color: rgb(64, 153, 255);
  border-bottom: 1px solid rgb(209, 209, 209);
  width: 100%;
}
table tr td img {
  width: 200px;
}

.addpost {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-left: 8%; */
}
.addpost .but-end {
  align-self: flex-start;
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
}

.pult {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.pult button {
  background: rgb(126, 192, 247);
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
.wrapper__img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 600px;
}
.wrapper__img img {
  width: 60%;
}
.wrapper__img h2 {
  margin-top: 20px;
  font-size: 30px;
}
.mainPage h1 {
  width: 80%;
  font-size: 40px;
  margin-top: 40px;
  border-bottom: 4px solid rgb(69, 169, 250);
  padding-bottom: 20px;
}
.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}
.mainPage header {
  width: 100%;
}
.info_one {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.info_one h2 {
  font-size: 35px;
}
.info_one p {
  font-size: 30px;
  width: 80%;
  line-height: 50px;
}

#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  width: 100%;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 800px;
  opacity: 0;
  z-index: 1;
  padding: 40px;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide img {
  width: 900px;
  height: 650px;

  /* position: absolute; */
}

.showing {
  opacity: 1;
  z-index: 2;
}

/*
Второстепенные стили:
Внешний вид; можете изменять
*/

.slide {
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(248, 248, 248, 0.555);
  color: #fff;
}

.slide:nth-of-type(1) {
  /* background: rgb(158, 238, 252); */
}
.slide:nth-of-type(2) {
  /* background: rgb(116, 230, 250); */
}
.slide:nth-of-type(3) {
  /* background: rgb(113, 189, 202); */
}
.slide:nth-of-type(4) {
  /* background: rgb(100, 180, 194); */
}
.slide:nth-of-type(5) {
}
.ztt {
  width: 150px;
}
footer {
  width: 100%;
  padding: 15px;
  background: rgb(25, 151, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
